<style>
    .table > tbody > tr > .no-line {
        border-top: none;
    }

    .table > thead > tr > .no-line {
        border-bottom: none;
    }

    .table > tbody > tr > .thick-line {
        border-top: 2px solid;
    }
</style>
<div class="card">
    <div class="card-header" data-background-color="purple">
        <h4 class="title">Receipt</h4>
        @*<p class="category">Total...taxes...payment..products</p>*@
    </div>
    <div class="card-content">
        <form>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group label-floating">
                        <address>
                            <strong>Elf Cafe</strong>
                            <br>
                            2135 Sunset Blvd
                            <br>
                            Los Angeles, CA 90026
                            <br>
                            <abbr title="Phone">P:</abbr> (213) 484-6829
                        </address>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group label-floating pull-right">
                        <p>
                            <em>Date: April 24th, 2017</em>
                        </p>
                        <p>
                            <em>Receipt #: 34522677W</em>
                        </p>
                        <address>
                            <strong>Payment Method:</strong><br>
                            Visa ending **** 4242
                        </address>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header" data-background-color="purple">
                            <h4 class="title">Order Summary</h4>
                            @*<p class="category">Here is a subtitle for this table</p>*@
                        </div>
                        <div class="card-content table-responsive">
                            <table class="table">
                                <thead class="text-primary">
                                <th>Product</th>
                                <th>Price</th>
                                <th>Qty</th>
                                <th class="text-right">Total</th>
                                </thead>
                                <tbody id="receipt-tbody">
                                    
                                    <tr>
                                        <td class="thick-line"></td>
                                        <td class="thick-line"></td>
                                        <td class="thick-line text-center"><strong>Subtotal</strong></td>
                                        <td id="sub-total" class="thick-line text-right">$0.00</td>
                                    </tr>
                                    <tr>
                                        <td class="no-line"></td>
                                        <td class="no-line"></td>
                                        <td class="no-line text-center"><strong>HST 13%</strong></td>
                                        <td id="taxes" class="no-line text-right">$0.00</td>
                                    </tr>
                                    <tr>
                                        <td class="no-line"></td>
                                        <td class="no-line"></td>
                                        <td class="no-line text-center"><strong>Total</strong></td>
                                        <td id="total" class="no-line text-right">$0.00</td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>

            @*<button type="submit" class="btn btn-primary pull-right"><i class="material-icons">done</i><div class="ripple-container"></div></button>*@
            <button type="button" class="btn btn-raised btn-primary pull-right" onclick=""><i class="material-icons">done</i><div class="ripple-container"></div></button>
            <div class="clearfix"></div>
        </form>
    </div>
</div>

