<style>
    .table > tbody > tr > .no-line {
        border-top: none;
    }

    .table > thead > tr > .no-line {
        border-bottom: none;
    }

    .table > tbody > tr > .thick-line {
        border-top: 2px solid;
    }
</style>
<div class="card">
    <div class="card-header" data-background-color="purple">
        <h4 class="title">Order Summary</h4>
        @*<p class="category">Here is a subtitle for this table</p>*@
    </div>
    <div class="card-content table-responsive">
        <table class="table">
            <thead class="text-primary">
            <th>Product</th>
            <th>Price</th>
            <th>Quantity</th>
            <th class="text-right">Total</th>
            </thead>
            <tbody>
                <tr>
                    <td>Matcha Latte</td>
                    <td class="text-primary">$6,73</td>
                    <td>2</td>
                    <td class="text-primary text-right">$12,99</td>
                </tr>
                <tr>
                    <td>Banana Loaf</td>
                    <td class="text-primary">$3,73</td>
                    <td>2</td>
                    <td class="text-primary text-right">$6,99</td>
                </tr>
                <tr>
                    <td>Pumpkin Latte</td>
                    <td class="text-primary">$6,73</td>
                    <td>1</td>
                    <td class="text-primary text-right">$6,73</td>
                </tr>
                <tr>
                    <td class="thick-line"></td>
                    <td class="thick-line"></td>
                    <td class="thick-line text-center"><strong>Subtotal</strong></td>
                    <td class="thick-line text-right">$70.99</td>
                </tr>
                <tr>
                    <td class="no-line"></td>
                    <td class="no-line"></td>
                    <td class="no-line text-center"><strong>Taxes(TVO 12.5%)</strong></td>
                    <td class="no-line text-right">$15.12</td>
                </tr>
                <tr>
                    <td class="no-line"></td>
                    <td class="no-line"></td>
                    <td class="no-line text-center"><strong>Total</strong></td>
                    <td class="no-line text-right">$85.99</td>
                </tr>
            </tbody>
        </table>

    </div>
</div>
