@using MVC.Common
@using MVC.ViewModels
@{
    //TODO: Call Categories get all that return list<CategoryDTO>
}

<div class="sidebar" data-color="purple" data-image="../../../Images/Theme/Material/sidebar-1.jpg">
    <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"

        Tip 2: you can also add an image using data-image tag
    -->

    <div class="logo">
        <a href="/home" class="simple-text">
            Username logged in
        </a>
    </div>

    <div class="sidebar-wrapper">
        <ul class="nav">
            
            <li class="active">
                <a href="/tile/sale">
                    <!-- TODO: use custom route... Html.Action( mvc stack overflow exception action)-->
                    <i class="material-icons">payment</i>
                    <p>Sale</p>
                </a>
            </li>
            <li>
                <a href="/tile/sale">
                    <i class="material-icons">content_paste</i>
                    <p>Brewed Coffee</p>
                </a>
            </li>

            <li class="">
                <a href="/tile/sale/1">
                    <i class="material-icons">bubble_chart</i>
                    <p>Latte</p>
                </a>
            </li>
            <li>
                <a href="/tile/sale">
                    <i class="material-icons">bubble_chart</i>
                    <p>Espresso</p>
                </a>
            </li>

            <li>
                <a href="/tile/sale">
                    <i class="material-icons">library_books</i>
                    <p>Bottled Drinks</p>
                </a>
            </li>
            <li>
                <a href="/tile/sale">
                    <i class="material-icons">bubble_chart</i>
                    <p>Frappuccino</p>
                </a>
            </li>
            <li>
                <a href="/tile/sale">
                    <i class="material-icons">location_on</i>
                    <p>Brewed Teas</p>
                </a>
            </li>
            <li class="">
                <a href="/dashboard">
                    <i class="material-icons">bubble_chart</i>
                    <p>Sandwich</p>
                </a>
            </li>
            <li>
                <a href="/tile/sale">
                    <i class="material-icons text-gray">notifications</i>
                    <p>Smoothies</p>
                </a>
            </li>
            <li class="active-pro">
                <a href="/home">
                    <i class="material-icons">unarchive</i>
                    <p>Call in Manager</p>
                </a>
            </li>
        </ul>
    </div>
</div>