@{
    ViewBag.Title = "Home Page";
}

<style>
    .input-code {
        text-align: center !important;
        font-size: 20px;
        font-weight: bold;
    }
</style>
<div class="main-panel">

    @* ReSharper disable once Mvc.PartialViewNotResolved *@
    @if (Session["Token"] != null)
    {
        @Html.Partial("_ContentNav")
    }

    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 col-sm-6 col-md-offset-2 col-sm-offset-1">
                    <div class="card" style="background-color: rgba(213, 240, 251, 0.3)">
                        <div class="card-header" data-background-color="purple">
                            <h4 class="title">Sign In</h4>
                            @if (ViewBag.Message != null)
                            {
                                <p class="category text-danger">@ViewBag.Message</p>
                            }
                            else
                            {
                                <p class="category">Enter your Access Code and PIN</p>
                            }
                        </div>
                        <div class="card-content">
                            <form method="post" action="/user/signin" id="sign-in">
                                @Html.AntiForgeryToken()
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="material-icons">perm_identity</i>
                                    </span>
                                    <div class="form-group label-floating is-empty">
                                        <label class="control-label">ACCESS CODE</label>
                                        <input id="access-code" type="text" class="form-control input-code" data-toggle="modal" data-target="#num-pad">
                                        <span class="material-input"></span>
                                    </div>
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="material-icons">lock_outline</i>
                                    </span>
                                    <div class="form-group label-floating is-empty">
                                        <label class="control-label">PIN</label>
                                        <input id="pin" type="password" class="form-control input-code" data-toggle="modal" data-target="#num-pad">
                                        <span class="material-input"></span>
                                    </div>
                                </div>
                                <input type="hidden" id="token" name="token"/>
                                <button id="btn-login" type="button" class="btn btn-primary pull-right">Sign In</button>
                                <button id="btn-logout" type="button" class="btn btn-primary pull-right">Sign Out</button>
                                <div class="clearfix"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script src="~/Scripts/Theme/Material/home.js"></script>
    <script>
        $(function () {
            //$(".sign-in-inputs").click(function () {
            //    //$('#num-pad').dialog('open');
            //    $('#num-pad').toggle();
            //    return false;
            //});
        });
    </script>
}
