@model IEnumerable<MVC.ViewModels.ProductVm>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Themes/Material/Shared/_Layout.cshtml";
    var rowCount = 1;
}

<div class="main-panel">
    @* ReSharper disable once Mvc.PartialViewNotResolved *@
    @Html.Partial("_ContentNav")
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                    @*<div class="row">*@

                    @foreach (var item in Model)
                    {

                        if (rowCount % 4 == 0){
                             @:<div class="row">
                        }
                                <div class="col-lg-3 col-md-3 col-sm-3">
                                    <div class="card card-stats">
                                        <div class="card-header" data-background-color="orange">
                                            <i class="material-icons">add</i>
                                        </div>
                                        <div class="card-content">
                                            <p class="category">
                                                <small>$</small>74.99
                                            </p>
                                            <h5 class="title">
                                                @item.name
                                            </h5>
                                        </div>
                                        <div class="card-footer">
                                            <div class="stats">
                                                <i class="material-icons text-danger">warning</i> <a href="#pablo">25% off</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                if (rowCount % 4 == 0)
                                {
                                    @:</div>
                                }
                            
                        {
                            rowCount++;
                        }
                    }
                    }
                    @*</div>*@
                </div>
                <div class="col-md-4">
                    @* ReSharper disable once Mvc.PartialViewNotResolved *@
                    @Html.Partial("_Receipt")
                    @* ReSharper disable once Mvc.PartialViewNotResolved *@
                    @Html.Partial("_NumPad")

                </div>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script>

    </script>
}
