@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Themes/Material/Shared/_Layout.cshtml";
}

<div class="main-panel">
    @* ReSharper disable once Mvc.PartialViewNotResolved *@
    @Html.Partial("_ContentNav")
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header" data-background-color="purple">
                            <h4 class="title">Receipt</h4>
                            @*<p class="category">Total...taxes...payment..products</p>*@
                        </div>
                        <div class="card-content">
                            <form>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group label-floating">
                                            <address>
                                                <strong>Elf Cafe</strong>
                                                <br>
                                                2135 Sunset Blvd
                                                <br>
                                                Los Angeles, CA 90026
                                                <br>
                                                <abbr title="Phone">P:</abbr> (213) 484-6829
                                            </address>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group label-floating pull-right">
                                            <p>
                                                <em>Date: April 24th, 2017</em>
                                            </p>
                                            <p>
                                                <em>Receipt #: 34522677W</em>
                                            </p>
                                            <address>
                                                <strong>Payment Method:</strong><br>
                                                Visa ending **** 4242
                                            </address>
                                        </div>
                                    </div>
                                </div>

                                
                                <div class="row">
                                    <div class="col-md-12">
                                        @* ReSharper disable once Mvc.PartialViewNotResolved *@
                                        @Html.Partial("_Receipt")
                                    </div>
                                </div>

                                @*<button type="submit" class="btn btn-primary pull-right"><i class="material-icons">done</i><div class="ripple-container"></div></button>*@
                                <button type="button" class="btn btn-raised btn-primary pull-right" onclick=""><i class="material-icons">done</i><div class="ripple-container"></div></button>
                                <div class="clearfix"></div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    @* ReSharper disable once Mvc.PartialViewNotResolved *@
                    @Html.Partial("_NumPad")

                </div>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script>

    </script>
}
